.searchBar {
    display: flex;
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .searchInput {
    flex-grow: 1;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #e0e0e0;
    border-right: none;
    border-radius: 4px 0 0 4px;
  }
  
  .searchButton {
    padding: 0.75rem 1.5rem;
    background-color: #ff0000;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .searchButton img {
    width: 20px;
    height: 20px;
  }