.carouselContainer {
    position: relative;
    width: 80%;
    height: 300px;
    overflow: hidden;
    left: 10%;
    right: 10%;
    border-radius: 20px;
  }
  
  .bannerSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
  }
  
  .bannerSlide.active {
    opacity: 1;
  }
  
  .bannerContent {
    position: absolute;
    inset: 0;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bannerText {
    text-align: center;
    color: white;
  }
  
  .bannerTitle {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .bannerDescription {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
  
  .bannerButton {
    display: inline-block;
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .bannerButton:hover {
    background-color: #2563eb;
  }
  
  .carouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .carouselButton:hover {
    background-color: rgba(223, 33, 33, 0.8);
  }
  
  .prevButton {
    left: 1rem;
  }
  
  .nextButton {
    right: 1rem;
  }
  
  .indicators {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
  }
  
  .indicator {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
  }
  
  .activeIndicator {
    background-color: white;
  }